#include <iostream>

using namespace std;

int main()
{
    
   float a,b,hasil;
   char aritmatika;
   
   cout<< "masukkan nilai pertama:" ;
   cin >> a ;
   cout << "masukkan operasi:" ;
   cin >> aritmatika ;
   cout<< "masukkan nilai kedua:" ;
   cin >> b;
   cout << "hasil perhitungan dari\n"; 
   cout << a << aritmatika << b << endl;
   
   if (aritmatika == '+') {
       hasil = a + b;
   } else if (aritmatika == '-') {
       hasil = a-b;
   } else if (aritmatika == '*') {
       hasil = a*b;
   } else if (aritmatika == '/') {
       hasil = a/b;
   }
   
   cout <<"=" << hasil;
